.carts {
    font-size: 40px;
    line-height: 48px;
    margin-top: 4.9rem;
    margin-left: 6.9rem;
    margin-right: 6.9rem;
    border-bottom: 1px solid #DEDDDC;
    transform: rotate(0.37deg);
    padding-bottom: 4.2rem;

    color: #000000;
}
