.Warning_box_login{
    font-weight: 600;
    font-size: 3rem;
    color: #f21216;
    text-align: center;
    margin-top: 10rem;
    padding-bottom: 10rem;
    .go_to_login{
        font-size: 2rem;
        a{
            color: #919EAB;
        }
    }
}