.footer-wrapper{
    background-color: #fff;
    margin-top: 8rem;
    padding: 5.3rem 0 3.6rem 10rem;
    .col-border{
        border-right: 0.5px solid black;
        border-left: 0.5px solid black;
    }
}
.footer-title{
    font-weight: 700;
    font-size: 2rem;
    font-weight: 2.4rem;
};
.footer-content{
    margin-left: 6.2rem;
    ul{
        list-style: none;
        li{
            a{
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: #000000;
            }
        }
    }
}
.footer-content-betweenPosition{
    padding-left: 6.7rem;
}
.sub-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    height: 7.4rem;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    p{
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0;
    }
}
//--------------RESPONSIVE-----------------------------
@media screen and (max-width: 1024px) {
    .footer-wrapper{
        .footer-content-betweenPosition{
            padding-left: unset;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-wrapper{
        padding: 5.3rem 0 3.6rem 5.3rem;
    }
}

@media screen and (max-width: 640px) {
    .footer-wrapper{
        padding: 5.3rem 0 3.6rem 0;
        .footer-title{
            font-size: 1.5rem;
        };
        .footer-content{
            margin-left: 3.2rem;
            ul{
                li{
                    a{
                        font-weight: 500;
                        line-height: 1.9rem;
                    }
                }
            }
        }
    }
    .sub-footer{
        height: 4.4rem;
        p{
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 414px) {
    .sub-footer{
        p{
            font-size: 1rem;
        }
    }
}