.search-result {
    .search-select {
        width: 417px;
        height: 24px;
        background: rgba(33, 33, 33, 0.08);
        border-radius: 4px 4px 0px 0px;
        border: none;
        padding: 16px 12px 14px 14px;

        width: 443px;
        height: 54px;
        .search-option {
            line-height: 1.6rem;

        }

    }
    
}
