@font-face {
    font-family: Inter;
    src: url('./assets/font/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url('./assets/font/Inter-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url('./assets/font/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url('./assets/font/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('./assets/font/Inter-Light.ttf');
    font-weight: 300;
}



html {
    font-size: 62.5%;
}

body {
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #F5F5F5;
    line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
